<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-wdith, initial-scale=1.">
    <title></title>
</head>

<body>
    <main>
        <div>
            <h1>{{todo_list_object.name}}</h1>
            <p>
                <a href="{% url 'todo_list_update' todo_list_object.id %}">Edit </a>
            </p>
            <p><a href="{% url 'todo_list_delete' todo_list_object.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thread>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thread>
                <tbody>
                    {% for todoitem in todo_list_object.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' todoitem.id %}">{{todoitem.task}}</a></td>
                        <td>{{todoitem.due_date|date:"M d, Y"}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </main>

</body>

</html>
