<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-wdith, initial-scale=1.">
    <title></title>
</head>

<body>
    <main>
        <div>


            <h1>My Lists</h1>
            <p>
                <a href="{%url 'todo_list_create' %}">Create a new list</a>
            </p>
            <p>
                <a href="{% url 'todo_item_create' %}">Create a new item</a>
            </p>

            <table>
                <thread>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thread>
                <tbody>
                    {% for list in todo_list_list.all %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' id=list.id %}">{{list.name}} </a></td>
                        <td>{{list.items.count}}</td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>


        </div>


    </main>
</body>

</html>
